*{
    padding: 0;
    margin: 0;
}
.conteiner{
    background-image: url(1.jpg);
}
.content{
    padding-top: 20px;
    text-align: center;
    background-color: #aeeded;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
.mainH1{
    font-size: 3em;
    margin-bottom: 30px;
}
.bar{
    border: 2px solid black;
    background-color: white;
    height: 10vh;
    width: 56vw;
    border-radius: 50px;
    margin-bottom: 40px;
    overflow:hidden;
}
.value{
    background-color: rgb(13, 123, 212);
    width: 6vw;
    height: 10vh;
    border-radius: 50px;
    overflow:hidden;
    
}
.output{
    
    font-size: 1.4em;
    margin-bottom: 40px;
}
.push{
    cursor: pointer;
    border: none;
    padding: 20px 10px;
    min-width: 100px;
    width: 10vw;
    font-size: 1.3em;
    border-radius: 50%;
    background: linear-gradient(176deg, rgba(0,212,255,1) 0%, rgba(21,92,107,1) 100%);
    color:white;
 /*   box-shadow: 11px 10px 17px 6px rgba(34, 60, 80, 0.6);*/
}
.push:hover{
    background: linear-gradient(175deg, rgba(0,212,255,1) 0%, rgba(31,153,178,1) 100%);
}
.push:active{
    background: linear-gradient(175deg, rgba(0,212,255,1) 0%, rgba(125,233,255,1) 100%);
}

.end{
    position: absolute;
    height: 500px;
    width: 500px;
    background: chocolate;
    border: 2px solid black;
    border-radius: 50px;
    top: 10vh;
    bottom: 20vh;
    left: 30vw;
    box-shadow: 11px 10px 17px 6px rgba(34, 60, 80, 0.6);
    font-size: larger;

}
.secondH1{
    margin-top: 10vh;
    text-align: center;
    font-size: 3em;
    margin-bottom: 10vh;
}
p{
    margin: 20px 20px;
}
.control{
    margin: 40px 5vw;
    display: grid;
    grid-template-columns: 20vw 20vw;
    justify-content: space-between;
}
div[class^="am"]{
    border: 2px solid black;
    width: 20vw;
    max-height: 200px;
    height: 30vh;
    min-height: 150px;
    max-height: 400px;
}
.blocked{
    background:crimson
}
.active{
    background:rgb(255, 237, 76);
    cursor:pointer;
}
.reload-btn{
    width: 80px;
    height: 20px;
}